<!doctype html>
<html>
	<head>
		<title>Benutzerdatenbank der WebPizza e.K. </title>
		<script src="https://unpkg.com/vuejs-datepicker"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
		<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	</head>
	<body>
		<div id='myapp'>
			<!-- Select All records -->
			<input type='button' @click='allRecords()' value='Select All users'>
			<br><br>
			<!-- Eingabe Suche  -->
			<input type='text' v-model='username' placeholder="Login">
			<input type='text' v-model='name' placeholder="Vollständiger Name">
			<input type='text' v-model='email' placeholder="E-mail">
			<!-- Butons für Bedingung -->
			<input type='button' class="btn btn-info b " @click='recordsearch()' value='Suche'>
			<input type='button' class="btn btn-info" @click='load_lastfilter()' value='Filter laden'>
			<input type='button' class="btn btn-info" @click='clear()' value='clear'>
			<br>   <br>
						<!-- List records -->

			<table class="table table-striped">
			<thead>
				<tr>		
					<th @click="sort('username')">Username</th>
					<th @click="sort('name')">Name</th>
					<th @click="sort('email')">Email</th>
				</tr>
				</thead>
				<!-- Durchlauf des array user welches durch die Methoden allRecords() und recordsearch() aus der DB abgerufen wird -->
				<tbody>
			
				<tr v-for='user in sortedUser'>
					<td>{{ user.username }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
					
				</tr>
				
			</table>
		<!--	debug: sort={{currentSort}}, dir={{currentSortDir}} -->
		</div>
		<!-- Script -->
		<script src="app.js"></script>
		
	</body>
</html>